@import "tailwindcss";

:root {
  --background: #D9DCD6;
  --foreground: #16425B;
  --baltic-blue: #2F6690;
  --cerulean: #3A7CA5;
  --alabaster: #D9DCD6;
  --yale-blue: #16425B;
  --sky-blue: #81C3D7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
